@font-face {
  font-family: Montserrat-Medium;
  src: url(/portfolio/mascara/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(/portfolio/mascara/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-Light;
  src: url(/portfolio/mascara/fonts/Montserrat-Light.ttf);
}