* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat-Medium", sans-serif;
  color: #1F1F1F;
}

a {
  color: inherit;
}

.container {
  padding: 5% 15%;
}

.h2-item {
  font-size: 2.3rem;
  letter-spacing: 3px;
  padding-bottom: 5%;
  padding-left: 4%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: 'Montserrat-Light', sans-serif;
  color: #D3D3D3;
  font-size: 1rem;
  padding: 1.8% 2%;
  border-radius: 10px;
  background: #424242;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 5px 5px 0px rgba(0, 0, 0, 0.09), 0px 11px 6px 0px rgba(0, 0, 0, 0.05), 0px 19px 7px 0px rgba(0, 0, 0, 0.01), 0px 29px 8px 0px rgba(0, 0, 0, 0.00);
  transition: background 0.3s;
  width: 25%;
}

/*--------------------banner-box-------------------------*/
.banner-box {
  padding: 0% 15%;
  position: relative;
  height: 80vh;
  width: auto;
  background-color: #000000e8;
  background-image: url(https://images.unsplash.com/photo-1690286727405-ecdf6ab04bfc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60);
  background-size: contain;
  display: flex;
}

.banner-box::after {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  left: 0;
  background-color: #000000e8;
}

.banner-one,
.banner-two {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2%;
  padding-left: 2%;
  z-index: 1;
}

.banner-one {
  height: 100%;
  width: 100%;
}

.banner-two {
  height: 100%;
  width: 65%;

}

.banner-h1 {
  color: aliceblue;
  font-size: 4rem;
  letter-spacing: 2px;
  font-family: 'Montserrat-Light', sans-serif;
}

.banner-h2 {
  font-family: 'Montserrat-Light', sans-serif;
  font-size: 2rem;
  color: rgb(142, 142, 142);
  padding-bottom: 4%;
}

.banner--btnonline {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: 'Montserrat-Light', sans-serif;
  color: #D3D3D3;
  font-size: 1rem;
  padding: 1.8% 2%;
  border-radius: 10px;
  background: #424242;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 5px 5px 0px rgba(0, 0, 0, 0.09), 0px 11px 6px 0px rgba(0, 0, 0, 0.05), 0px 19px 7px 0px rgba(0, 0, 0, 0.01), 0px 29px 8px 0px rgba(0, 0, 0, 0.00);
  transition: background 0.3s;
  width: 25%;
}

.banner--btnonline--arrow {
  color: #ffffff;
  font-size: 1.6rem;
  padding-right: 2%;
}

.banner--btnonline:hover+h1 {
  background: #626262;
}

.banner--slider-post {
  width: 20vw;
  height: 50vh;
  position: absolute;
  right: 10%;
  border-radius: 25px;
  background-image: url(https://images.unsplash.com/photo-1690286727405-ecdf6ab04bfc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
}

/*--------------------advantages-box-------------------------*/
.advantages-box {
  width: auto;
  height: auto;
}

.advantages--img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
}

.advantages--img--item {
  width: 30%;
  height: 58vh;
  border-radius: 8px;
  display: flex;
  align-items: end;
  background-image: url(https://images.unsplash.com/photo-1690286727405-ecdf6ab04bfc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  transition: 0.3s;
}

.advantages--img--item:nth-child(2) {
  background-image: url(https://images.unsplash.com/photo-1690286727405-ecdf6ab04bfc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
}

.advantages--img--item:nth-child(3) {
  background-image: url(https://images.unsplash.com/photo-1690286727405-ecdf6ab04bfc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
}

.advantages--img--item:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 35px -15px black;
}

.advantages--img--container {
  height: 13%;
  width: 80%;
  padding-left: 7%;
}

.advantages--img--container p {
  color: #ffffff;
  font-size: 1.2rem;
}

/*--------------------black-box-------------------------*/
.black-box {
  width: auto;
  height: auto;
  background-color: #161616;
  display: flex;
  align-items: center;
}

.black-box-section--one,
.black-box-section--two {
  width: 100%;
  height: 70%;
}

.black-box--title {
  color: aliceblue;
  text-transform: uppercase;
  font-size: 3.3rem;
  padding: 0% 30% 0% 8%;
  font-family: 'Montserrat-Light', sans-serif;
  letter-spacing: 2px;
  line-height: 0.85;
}

.black-box--font {
  color: aliceblue;
  line-height: 2;
}

/*--------------------servises-box-------------------------*/
.servises-box {
  width: auto;
  height: 55vh;
  display: flex;
  align-items: center;
  padding: 0% 15%;
}

.servises--item--left,
.servises--item--right {
  width: 100%;
  height: 100%;
}

.servises--item--left {
  position: relative;
  padding-left: 4%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10%;
}

.servises--item--title {
  font-family: 'Montserrat-Light', sans-serif;
  letter-spacing: 2px;
  font-size: 3rem;

}

.servises--item--descript {
  font-family: 'Montserrat-Light', sans-serif;
  letter-spacing: 2px;
  font-size: 1.3rem;
}

.servises--item--btn {
  width: 35%;
  padding: 13px 0px;
}

.servises--item--right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.servises--item--img {
  width: 70%;
  height: 70%;
  border-radius: 8px;
  background-image: url(https://images.unsplash.com/photo-1690286727405-ecdf6ab04bfc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-position: 0% 43%;
}

.servises--btn {
  position: absolute;
  padding: 3% 17%;
  bottom: 15%;
  right: 20%;
}

/*--------------------black-servises-all-------------------------*/
.black-box-allservis {
  width: auto;
  height: 46vh;
  background-color: #161616;
  display: flex;
  align-items: center;
}

.black-box-allservis--left {
  width: 35%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1690286727405-ecdf6ab04bfc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-position: 0% 40%;
}

.black-box-allservis--right {
  position: relative;
  width: 60%;
  height: 100%;
  padding-left: 15%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.black-box-allservis--font {
  position: absolute;
  color: aliceblue;
  right: 25%;
  top: 20%;
  width: 70%;
  line-height: 2;
}

.black-box-allservis--btn {
  position: absolute;
  bottom: 10%;
  right: 25%;
}

/*--------------------office-box-------------------------*/
.office-box {
  width: auto;
  height: auto;
}

.office-box-slider--more {
  display: flex;
  justify-content: center;
  width: auto;
  height: 55vh;

}

.office-box-slider {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
}

.office-box-sliderline {
  display: flex;
  width: 300%;
  height: 100%;
  background-color: whitesmoke;
  transform: translateX(0%);
}

.office-box-sliderline--item {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-image: url(https://images.unsplash.com/photo-1690286727405-ecdf6ab04bfc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-position: 0% 29%;
}

.office-box-slider--right,
.office-box-slider--left {
  position: absolute;
  width: 4vw;
  height: 10vh;
  transition: 0.3s;
}

.office-box-slider--left {
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url(/portfolio/mascara/img/general/chevron-back-outline.svg);
  background-size: cover;
  cursor: pointer;
  background-color: #ffffff2f;
  border-radius: 0px 10px 10px 0px;
}

.office-box-slider--right {
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url(/portfolio/mascara/img/general/chevron-forward-outline.svg);
  background-size: cover;
  cursor: pointer;
  background-color: #ffffff2f;
  border-radius: 10px 0px 0px 10px;
  width: 4.3vw;
}

.office-box-slider--left:hover {
  background-color: #ffffff53;
  transform: translate(-15%, -50%);
}

.office-box-slider--right:hover {
  background-color: #ffffff53;
  transform: translate(10%, -50%);

}

.office-box-bestimg {
  display: flex;
  justify-content: center;
  gap: 1%;
  width: auto;
  height: 40vh;
}

.office-box-bestimg--item {
  height: auto;
  width: 100%;
  background-color: #1F1F1F;
  border-radius: 15px;
  background-image: url(https://images.unsplash.com/photo-1690286727405-ecdf6ab04bfc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-position: 0% 29%;
  margin-top: 1%;

}

.office-box-officebenefits {
  width: auto;
  height: auto;
  padding: 25px;
}

.office-box-officebenefits--spisok {}

.office-box-officebenefits--item {
  letter-spacing: 1px;
  line-height: 2;
  font-size: 1.2rem;
}

/*--------------------black-freesnyat-box-------------------------*/

.black-box-freesnyat { width: auto; height: 40vh; background-color: #161616; display: flex; align-items: center;}
.black-box-freesnyat--left {
  width: 70%; height: 100%;
  position: relative;
}
.black-box-freesnyat--right {
  width: 30%; height: 100%;
  background-image: url(https://images.unsplash.com/photo-1690286727405-ecdf6ab04bfc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-position: 0% 29%;

}
.black-box-freesnyat--font {
  color: aliceblue;
  position: absolute;
  left: 20%;
  top: 12%;
  width: 60%;
  line-height: 2;
}
.black-box-freesnyat--btn {
  position: absolute;
  right: 10%;
  bottom: 15%;
}

/*--------------------portfolio-box-------------------------*/
.portfolio-box {
  width: auto; height: auto;
}
.portfolio-box-greed {
  grid-row: 3fr 3fr;
}
.portfolio-box-greed--item {
  background-color: #161616;
  width: 100px; height: 100px;
}

/*--------------------black-box--masters-------------------------*/
.black-box--masters {
  width: auto;
  height: 100vh;
  background-color: #161616;
}

.black-box--masters h2 {
  color: aliceblue;
}

/*--------------------reviews-box-------------------------*/
.reviews-box {
  width: auto;
  height: 60vh;
}

/*--------------------entryonline-box-------------------------*/
.entryonline-box {
  width: auto;
  height: 60vh;
}

/*--------------------faq-box-------------------------*/
.faq-box {
  width: auto;
  height: auto;
}
.faq {
  display: flex;
  justify-content: center;
  margin: 1% 0%;
  transition: 0.4s;
}
.faq--item {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  width: 80%;
  border-radius: 8px;
}
.faq--label {
  position: relative;
  width: 100%; height: auto;
  padding: 2%;
  transition: background .4s ease-out;
  display: block;
  border-radius: 8px;
  font-size: 1.2rem;

}
.faq--label:hover {
  background-color: #d3d3d3;
  color: aliceblue;
}
.faq--label::before {
transition: .4s ease-out;
content: '';
position: absolute;
right: 2%;
top: 50%;
transform: translateY(-50%);
height: 30px;
width: 30px;
background-image: url(/portfolio/mascara/img/general/chevron-down-outline.svg);
}
.faq--label:hover::before {
  transform: translateY(-30%);
}
.faq--input {
  position: absolute;
  height: 0px;
  width: 0px;
}
.faq--text {
  display: none;
  padding: 2%;
  font-size: 1.1rem;
  transition: all 0.5s;
}
.faq--input:checked~.faq--label {
  background-color: #d3d3d3;
}
.faq--input:checked~.faq--text {
  display: block;
  transition: all 0.5s;
}
.faq--input:checked~.faq--label::before{
  transform: rotate(180deg) translateY(50%);
}
/*--------------------contacts-box-------------------------*/
.contacts-box {
  width: auto;
  height: 60vh;
}