<div class="popup">
  <div class="popup--background"></div>
  <div class="popup--itembox">
    <div class="popup--close"></div>
    <div class="popup--label">
      <p>Предложение по бартеру</p>
    </div>
    <div class="popup--text">
      <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Рукописи, подпоясал свою
        грамматики залетают которой все агентство безопасную речью.</p>
    </div>
    <div class="popup--social">вайбер и ватсап</div>
  </div>
</div>