</head>
<header>

<div class="navcontainer">

  <div class="logo"><p class="logo--item">MASCARA</p></div>
  <nav class="navigation">
    <ul class="navigation--spisok">
      <li class="navigation--item"><a href="/portfolio/mascara/">главная</a></li>
      <li class="navigation--item"><a href="/portfolio/mascara/pages/services.php">услуги</a></li>
      <li class="navigation--item"><a href="/portfolio/mascara/pages/portfolio.php">портфолио</a></li>
      <li class="navigation--item"><a href="/portfolio/mascara/pages/otzyvy.php">отзывы</a></li>
      <li class="navigation--item"><a href="/portfolio/mascara/pages/kontakty.php">контакты</a></li>
    </ul>
  </nav>
  <div class="btnonline" id="btnonline">Записаться on-line</div>
  
</div>

</a>
</header>

