@font-face {
  font-family: 'OS400';
  src: url(/furnirure/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'OS600';
  src: url(/furnirure/fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: 'PD400', sans-serif;
  src: url(/furnirure/fonts/PlayfairDisplay-Regular400.ttf);
}
@font-face {
  font-family: 'PD700';
  src: url(/furnirure/fonts/PlayfairDisplay-Bold700.ttf);
}