body {
  background-color: #F9FDFF;
  font-family: 'OS400';
}

.container {
  padding: 0% 10%;
  width: auto; height: 100vh;
}

/*----------------------------------------------------------------------*/

.box-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px;
    padding: 3% 10% 0% 10%;
}
.navigation-right-item{
    display: flex;
    gap: 5%;
}
.logo {
}
.menu {
}
.menu--spisok {
    display: flex;
    gap: 5%;
}
.menu--spisok--item {
}
.search {
}
.basket {
}

/*----------------------------------------------------------------------*/

.box-bannerslider {
    display: flex;
    width: 100vw; height: 100vh;
}
.box-bannerslider--left {
    width: 100%; height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
}
.box-bannerslider--right {
    width: 100%; height: 100vh;
    display: flex;
    align-items: center;
}


.box-bannerslider--left--h1 {
    font-family: 'PD700';
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 4px;

}
.box-bannerslider--left--productname {
    font-size: 1.5rem;
    padding-top: 5%;
}
.box-bannerslider--left--product--item {
    display: flex;
    align-items: center;
    gap: 2%;
    padding-bottom: 5%;
}
.box-bannerslider--left--productsalle {
    font-size: 1.5rem;
}
.box-bannerslider--left--productprice {
    font-size: 2.3rem;
    font-family: 'OS600';
}
.box-bannerslider--left--button {
    background-color: #303032;
    color:#FFFFFF;
    padding: 20px 120px;
    margin-right: auto;
    text-align: center;

}
.box-bannerslider--right--productimg {
    width: 90%;

}
.box-bannerslider--right--container--productid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'PD400';
    font-size: 1.6rem;
    letter-spacing: 3px;
}
.box-bannerslider--right--container--numroduct{
    transition: 0.3s;
}
.box-bannerslider--right--container--numroduct:hover {
    font-size: 3rem;
    transition: 0.3s;
    cursor: pointer;
}

.activeproduct {
    font-size: 3rem;
    transition: 0.3s;
    cursor: pointer;
    color: red;
}

.box-bannerslider--right--productid{
    
}


.box-news {
}
.box-reviews {
}
.box-banner {
}
.right--qudro {
    position: absolute;
    right: 0;
    top: 0;
    width: 40vw;
    height: 100vh;
    background-color: #FCEAE8;
    z-index: -111;
}